@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); 

@media screen and (min-width: 857px) {
    a.header-menu-button {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .header-menu-bar{
       width: 600px;
       min-width: 300px; 
       margin: 10px;
    }

    .header-menu {
      display: none;
    }

    a.header-menu-button {
        display: block;
        margin: 0 auto;
        padding: 20px 5px 0px 5px;
    }
}

@media screen and (max-width: 856px) {
    .header-menu-bar{
       width: 800px;
       min-width: 300px; 
       margin: 10px;
    }

    .header-menu {
      display: none;
    }

    a.header-menu-button {
        display: block;
        margin: 0 auto;
        padding: 20px 5px 0px 5px;
    }
}

.header-menu-bar a{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-weight: 600;
    font-size: 20px;
    height: 44px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.header-menu-bar a:hover {
    color: #2669f0; 
}

.header-back {
    width: 100%;
    background: linear-gradient(135deg, #32cbfa 0%,#2669f0 100%);
    height: 196px;
    margin: 0;
    overflow: auto
}

.header-menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    width: 70%;
    height: 64px;
    margin: 65px auto 65px;
    border-radius: 36px;
}

.home-button {
    float: left;
    min-width: 32px;
    height: 32px;
    background: #2669f0;
    border-radius: 16px;
    margin: 16px;
    transition: 0.5s ease;
    cursor: pointer;
}

.authorization {
    float: right;
    min-width: 32px;
    height: 32px;
    background: #2669f0;
    border-radius: 16px;
    margin: 16px;
    transition: 0.5s ease;
    cursor: pointer;
}

.authorization .material-icons {
    color: white;
    display: inline-block;
    font-size: 30px;
    margin: 1px;
}

.home-button:hover {
    background: #32cbfa;
    transform: scale(1.3);
}

.authorization:hover {
    background: #32cbfa;
    transform: scale(1.3);
}

.header-menu {
    height: 64px;
    min-width: 472px;
    width: 640px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header-menu li {
    float: center;
}

.header-menu a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
    display: inline-block;
    height: 44px;
    cursor: pointer;
    text-decoration: none;
    padding: 20px 5px 0px 5px;
    transition: 0.5s;
}

.header-menu a:hover {
    color: #2669f0; 
}
